/*
===========================================================
    public
===========================================================
*/
:root {
    --main-background-color: #ffffff;
    --main-foreground-color: #111111;
    --main-theme-color: #FFDD00;
    --alternative-background-color: #F7F7F7;
    --alternative-foreground-color: #828282;
}
body {
    background-color: var(--main-background-color);
    font-family: Helvetica, sans-serif;
}

.remove-float {
    clear:both;
}
/*
===========================================================
    meet-the-user
===========================================================
*/
.participate-button {
    margin: 2rem auto;
}

.participate-button {
    width: 70%;
    max-width: 300px;
    margin: 2rem auto;
    border-width: 0;
    border-radius: 2em;
    padding: 1em;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-theme-color);
    color: var(--main-foreground-color);
}

.participate-button button:hover {
    background-color: var(--main-foreground-color);
    color: var(--main-theme-color);
}
.user-card {
    margin: 1rem;
    background-color: var(--alternative-background-color);
    padding: 1em;
    border-radius: 1rem;
}

.skip-user-button {
    float: right;
}
.skip-user-button button {
    border-radius: 1.5em;
    padding: 0.5em 1em;
    border-width: 0;
    background-color: var(--main-theme-color);
    color: var(--main-foreground-color);
}

/* place */
.date-place-header {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0.2rem;
    vertical-align: bottom;
}
.date-place-header span {
    vertical-align: bottom;
}

.date-finding-button-container {
    float: right;
}
.date-finding-button-container button {
    font-weight: 600;
    padding: 0.2em 1em;
    margin: 0.3em;
    border-width: 0;
    background-color: var(--main-theme-color);
    color: var(--main-foreground-color);
    border-radius: 1em;
    transition: all 0.5s ease;
}
.date-finding-button-container button:hover {
    background-color: var(--main-foreground-color);
    color: var(--main-theme-color);
}

.date-footer {
    text-align: center;
}


/*
===========================================================
    user-profile
===========================================================
*/
.user-profile {
    margin: 2rem 1rem;
    border-left: 1px solid black;
}
.user-head img {
    display: inline-block;
    border-radius: 50%;
    width: 64px;
    height: 64px;
}
.user-name {
    display: inline-block;
    vertical-align: bottom;
}
.user-subscription {
    padding: 1em 3em;
}
.edit-profile-button {
    float: right;
    margin: 1em
}
/*
===========================================================
    date-create-form
===========================================================
*/
.date-request-form,
.edit-user-form {
    padding: 1rem;
}
.date-request-form input,
.date-request-form textarea,
.edit-user-form input,
.edit-user-form textarea {
    border: 1px solid var(--alternative-foreground-color);
    color: var(--alternative-foreground-color);
    border-radius: 1.5rem;
    padding: 1em;
}
.form-button {
    border-radius: 1.5rem;
    color: var(--main-foreground-color);
    background-color: var(--main-theme-color);
    border-width: 0;
    height: 4em;
}
.form-button:hover {
    background-color: var(--main-foreground-color);
    color: var(--main-theme-color);
}
.form-button,
.date-request-form-label,
.edit-user-form-label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

/*
===========================================================
    loading with cancel
===========================================================
*/

.loading-with-cancel {
    margin: 0 auto;
    text-align: center;
}
.cancel-button {
    border-width: 0;
    background-color: var(--main-theme-color);
    color: var(--main-foreground-color);
    padding: 0.5em 1em;
    font-weight: 600;
    border-radius: 1em;
    margin: 3em auto
}

/*
===========================================================
    main-subscription
===========================================================
*/
.logo-block {
    text-align: center;
    font-family: 'Montserrat',Arial,sans-serif;;
}
.logo {
    font-size: larger;
    font-weight: 900;
    color: var(--logo-color);
    font-size: 6rem;
    line-height: 0.8;
}
.sub-logo {
    padding-top: 1rem;
    font-size: 24px;
}

.main-subscription {
    background-color: var(--main-theme-color);
    padding: 6rem 5rem 0.1rem 5rem;
    margin: 12rem 0;
}
.main-subscription p {
    font-weight: 400;
}
.main-subscription h3, h4 {
    font-weight: 800;
    margin-top: 2rem;
    margin-bottom: 4rem;
}