<div class="container">
    <section class="chat-box">
        <a href=""></a>
            <div class="user-box">
                <img 
                    class="user-icon"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/68/Orange_tabby_cat_sitting_on_fallen_leaves-Hisashi-01A.jpg/800px-Orange_tabby_cat_sitting_on_fallen_leaves-Hisashi-01A.jpg" 
                    alt="">
                <span>username</span>
            </div>
        </a>
        
        <div class="chat-place">
            <article class="self-user-message">
                Привет
            </article>
            <article class="other-user-message">
                Дарова
            </article>
        </div>

        <div class="chat-input-box">
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <button class="chat-input-button">Отправить</button>  
        </div>
    </section>
</div>