<article class="date-card ">
    <a href="#" class="user-link">username</a>
    <h5 class="date-title">
        Хочу погамать в днд.
    </h5>
    <p class="date-subscription">
        Давно не играл в настолки, хотелось бы поиграть. <br>
        Живу не далеко от ргупса.
    </p>                    
    <!--<h6>7 человек.</h6>-->
    <a class="date-card-action-button btn btn-primary btn-sm " href="#" role="button"> 
        Согласиться
    </a>
    <div class="date-time-container">
        <p>Дата:  19.04.2024    Время:  19:00</p>
        <p>Длительность:    40 минут</p>
    </div>    

    <div class="remove-float"></div>

</article>