<article class="date-card ">
    <a href="#" class="user-link">username</a>
    <h5 class="place-of-dating-field">
        Ул. пушкина. Дом колотушкина.
    </h5>
    <p class="date-subscription">
        Ебашим турнир по tekken 5 всем отделом кадров.
    </p>                    
    <h6>7 человек.</h6>
    <a class="date-card-action-button btn btn-primary btn-sm " href="#" role="button"> 
        Согласиться
    </a>
    <div class="date-time-container">
        <p>Дата:  19.04.2024    Время:  19:00</p>
        <p>Длительность:    40 минут</p>
    </div>    

    <div class="remove-float"></div>

</article>