<div class="container">
    <div class="row">
        <div class="date-place col-12">
            <section class="date-place-header">
                <div class="date-finding-button-container">
                    <button id="find-random-meet">Найти встречу</button>
                    <button onclick="open('/create_meeting')">Создать встречу</button>
                </div>
                <h2>Встречи:</h2>
                <div class="remove-float"></div>
            </section>

            <section id="card-place">
            </section>
            
        </div>
    </div>
</div>
<script src="../static/js/date-card-get.js"></script>