{% extends "base.html" %}

{% block main %}
<section class="logo-block">
    <div class="logo">
        Random <br> 
        Coffe
    </div>
    <div class="sub-logo">
        оджетто
    </div>
</section>

<section class="main-subscription">
    <h3 class="main-tagline">
        Сервис для нетворкинга и общения сотрудников вне рабочих задач. 
        Сервис делит коллег на пары и предлагает онлайн или 
        офлайн встретиться и поболтать за 
        чашечкой кофе. 
    </h3>
    <figure class="text-end">
        <blockquote class="blockquote">
          <p>Этот мир не так уж плох, покуда в нем есть кофе.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            <cite title="Source Title">Кассандра Клэр</cite>
        </figcaption>
      </figure>
</section>
{% endblock %}