<section class="logo-block">
    <div class="logo">
        Random <br> 
        Coffe
    </div>
    <div class="sub-logo">
        оджетто
    </div>
</section>

<section class="main-subscription">
    <h4 class="welcome-text">Привет!</h4>
    
    <div class="paragraph-place">
        <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab libero, ducimus numquam quod perspiciatis earum nisi. Atque, ea? Quod mollitia blanditiis maiores nisi nemo soluta beatae ullam fuga quisquam corrupti.</span><span>Distinctio tempore dolores asperiores harum maxime architecto incidunt aliquid dolor velit repudiandae voluptatibus blanditiis, quis voluptatum, aspernatur nisi iste doloribus quasi! Voluptatem rem quis velit veniam ut eius nesciunt ea!</span></p>
        <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, quam in accusamus, rerum quis fuga possimus quibusdam harum magni aspernatur ab voluptatem quod dolore incidunt cumque omnis enim quisquam illum.</span><span>Earum quidem laborum ut quasi, vel pariatur aliquam quas laboriosam iste sunt quae natus voluptatum debitis itaque sed aliquid quisquam harum voluptate mollitia consequuntur? Inventore corrupti voluptatem suscipit cupiditate quis.</span></p>
    </div>

    <h3 class="main-tagline">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime reiciendis voluptatem repellat repudiandae nemo ea porro laborum doloribus, harum earum nobis ipsam accusamus perspiciatis cupiditate quos eius, placeat excepturi ut!
    </h3>
</section>