<article class="user-card">
    <a class="user-card-link user-head" href="/view-profile/{{ user.id }}">
        <img src="../static/img/poebalnic.jpg" alt="">
        <h3 class="user-name">
            username
        </h3>
    </a>
    <p class="user-subscription">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt doloribus sint autem facere aperiam quod atque, officiis, repudiandae eum debitis explicabo tempore eligendi dolorum ipsam fuga est quae, animi laboriosam!
    </p>
    <div>
        <a href="#" class="skip-user-button">
            <button>
                Skip
            </button>
        </a>
        <a href="#">Telegram</a>
        <div class="remove-float"></div>
    </div>
</article>